<div class="container-fluid pt-5 ">
    <div class="row game-header d-flex justify-content-between" *ngIf="selectedGame">
        <button mat-icon-button color="accent" aria-label="Example icon button with a menu icon" (click)="next(1)">
            <mat-icon>keyboard_arrow_left</mat-icon>
        </button>
        <h2 class="game">{{selectedGame.white.username}} ({{selectedGame.white.rating}}) -
            {{selectedGame.black.username}} ({{selectedGame.black.rating}})</h2>

        <button mat-icon-button color="accent" aria-label="Example icon button with a menu icon" (click)="next(-1)">
            <mat-icon>keyboard_arrow_right</mat-icon>
        </button>
    </div>
    <div class="row">
        <ngx-chess-board #board (moveChange)="moveChange()" [size]="boardSize" [lightTileColor]="whiteColor"
            [darkTileColor]="blackColor">
        </ngx-chess-board>

        <div class="btn-group-vertical ml-0">
            <button mat-icon-button aria-label="Example icon button with a vertical three dot icon" (click)="undo()">
                <mat-icon>undo</mat-icon>
            </button>
            <button mat-icon-button color="primary" aria-label="Example icon button with a home icon" (click)="redo()">
                <mat-icon>redo</mat-icon>
            </button>
            <button mat-icon-button color="accent" aria-label="Example icon button with a menu icon" (click)="fetch()">
                <mat-icon>menu</mat-icon>
            </button>
        </div>

        <div class="move-history" *ngIf="selectedGame">
            <div *ngFor="let m of getMoves(); let i = index">
                <div *ngIf="!(i % 2)">
                    <p (click)="setMoveNumber(i)" [ngClass]="{'move': true}">{{i > 0 ? i/2 : i }}. </p>
                </div>
            </div>
        </div>
    </div>
    <app-stats></app-stats>
    <div *ngIf="loading" class="pt-5">
        <mat-progress-bar class="progress-bar" mode="indeterminate"></mat-progress-bar>
    </div>
</div>