.progress-bar {
    height: 15px;
}

.game-header {
    width: 700px; 
}

.move-history {
    width: 300px; 
    height: 500px;
    background-color: rgb(78, 88, 104);
    overflow: scroll;
}

.move {
    color:red;
}

.board-area {
    width:400px; margin-left: auto; margin-right: auto
}

.search{
    background-color: #1c2a35; 
    border: solid; 
    border-color: grey;
    border-radius: 10px;
}
::ng-deep .mat-focused .mat-form-field-label{
    /*change color of label*/
    color: white !important;
   }


input {
    color: rgb(224, 223, 223)
}

mat-select {
    color: white
}