<div class="search mb-3 ">

    <tr class="mt-3">
        <td>
            <mat-form-field class="example-full-width">
                <mat-label>Username</mat-label>
                <input matInput [(ngModel)]="username" color="primary">
            </mat-form-field>
        </td>
        <td class="mr-1">
            <mat-form-field class="example-full-width pr-3">
                <mat-label>Year</mat-label>
                <input [(ngModel)]="year" color="primary" type="number" matInput>
            </mat-form-field>
        </td>
        <td>
            <mat-form-field class="pr-3 pl-3">
                <mat-label>Month</mat-label>
                <mat-select #monthValue color="primary">
                    <mat-option *ngFor="let month of month" [value]="month.value">
                        {{month.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </td>
        <td class="mr-1">
            <button mat-raised-button color="primary" (click)="$event.preventDefault(); fetch()">Search</button>
        </td>
    </tr>
</div>
<div class="container-fluid pt-5 ">
    <!--Search games by user and time period-->


    <div class="row game-header d-flex justify-content-between" *ngIf="selectedGame">
        <button mat-icon-button color="accent" aria-label="Example icon button with a menu icon" (click)="next(1)">
            <mat-icon>keyboard_arrow_left</mat-icon>
        </button>
        <h2 class="game">{{selectedGame.white.username}} ({{selectedGame.white.rating}}) -
            {{selectedGame.black.username}} ({{selectedGame.black.rating}})</h2>

        <button mat-icon-button color="accent" aria-label="Example icon button with a menu icon" (click)="next(-1)">
            <mat-icon>keyboard_arrow_right</mat-icon>
        </button>
    </div>
    <div class="row">
        <ngx-chess-board #board (moveChange)="moveChange()" [size]="boardSize" [lightTileColor]="whiteColor"
            [darkTileColor]="blackColor">
        </ngx-chess-board>
        <div>
            <app-moves (goToMove)="setMoveNumber($event)" [moveNbr]="move"></app-moves>
            <div class="btn-group-horisontal ml-0 d-flex justify-content-center" style="width:100%">
                <button class="ml-1" mat-icon-button aria-label="Example icon button with a vertical three dot icon"
                    (click)="undo()">
                    <mat-icon>skip_previous</mat-icon>
                </button>
                <button class="mr-1" mat-icon-button aria-label="Example icon button with a home icon" (click)="redo()">
                    <mat-icon>skip_next</mat-icon>
                </button>
            </div>
        </div>

    </div>


    <app-stats></app-stats>
    <div *ngIf="loading" class="pt-5">
        <mat-progress-bar class="progress-bar" mode="indeterminate"></mat-progress-bar>
    </div>
</div>